/* Montserrat Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #07034f;
  background: radial-gradient(
    circle,
    rgba(7, 3, 79, 1) 0%,
    rgba(2, 6, 50, 1) 16%,
    rgba(3, 3, 3, 1) 100%
  );
  min-height: 100vh;
}
